.container {
    width: 466px;
    height: 466px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.stack-container {
    width: 466px;
    height: 466px;
}

.delete-stack {
    width: 95px;
    height: 50px;
}

.title {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.data {
    margin-top: 2px;
    font-size: 30px;
    text-align: center;
    width: 322px;
    letter-spacing: 2px;
    height: 50px;
}

.first-container {
    width: 466px;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.button-container {
    width: 466px;
    height: 65px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.all-container {
    width: 466px;
    height: 350px;
    flex-direction: column;
}

.button {
    width: 45px;
    height: 65px;
    font-size: 30px;
    background-color: transparent;
    border-radius: 0px;
}

.button:active {
    background-color: #4dffffff;
}

.number-button {
    width: 40px;
    height: 55px;
    font-size: 30px;
    background-color: transparent;
    border-radius: 0px;
}

.english-button {
    border-radius: 5px;
    background-color: #3c4043;
    width: 50px;
}

.delete-button {
    margin-left: 15px;
    border-radius: 5px;
    background-color: #3c4043;
    background-image: url("common/delete_word.png");
    width: 80px;
}

.delete-image {
    width: 51px;
    height: 34px;
    left: 238px;
    top: 400px;
}

.image-container {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 45px;
    width: 466px;
    height: 105px;
}

.search-button {
    margin-left: 15px;
    border-radius: 5px;
    background-color: #3c4043;
    width: 110px;
}

.text {
    font-size: 38px;
    margin-top: 50px;
    width: 400px;
    height: 150px;
    text-align: center;
}

.letters {
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 2px;
}

.image {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.candidate {
    margin-top: 15px;
    font-size: 38px;
    margin-left: 8px;
}

.toast-container {
    height: 80px;
    top: 188px;
    background-color: #fc404040;
    border-radius: 48px;
    justify-content: center;
    align-items: center;
}

.toast-ani {
    animation-delay: 60ms;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

@keyframes appearIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes appearOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
