.container {
    width: 466px;
    height: 466px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.swipe {
    width: 150px;
    height: 466px;
}

.loading {
    justify-content: center;
    background-color: #b3000000;
}

.progress {
    width: 150px;
    height: 150px;
    background-color: #00FFFFFF;
    border-radius: 0px;
    stroke-width: 20px;
    start-angle: 0deg;
    total-angle: 360deg;
    animation-name: loading;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slider {
    width: 0px;
    height: 0px;
}

.title {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
}

.text {
    margin-top: 5px;
    letter-spacing: 1px;
    font-weight: 500;
}

.yiji-container {
    width: 380px;
    height: 260px;
    margin-top: 8px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.yiji-text {
    font-size: 28px;
    line-height: 36px;
    width: 320px;
    margin-left: 8px;
    font-weight: 500;
}

.Yi {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: darkseagreen;
    justify-content: center;
    align-items: center;
}

.Ji {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    justify-content: center;
    align-items: center;
}