.container {
    justify-content: flex-start;
    align-items: center;
    width: 466px;
    height: 466px;
    flex-direction: column;
}

.all-container {
    justify-content: center;
    align-items: center;
    width: 466px;
    height: 270px;
    flex-direction: row;
}

.year-container {
    width: 200px;
    height: 270px;
    flex-direction: row;
    align-items: center;
}

.month-container {
    width: 90px;
    height: 270px;
    flex-direction: row;
    align-items: center;
}

.loading-container {
    width: 250px;
    top: 188px;
    left: 108px;
    height: 90px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: dimgray;
    border-radius: 60px;
    opacity: 0.95;
}

.loading-text {
    margin-top: 5px;
    font-size: 30px;
    color: white;
}

.text {
    font-size: 38px;
    margin-top: 16px;
    margin-left: 20px;
}

.title {
    margin-top: 20px;
    font-size: 38px;
    text-align: center;
}

.year-picker {
    margin-top: 20px;
    width: 140px;
    height: 250px;
    font-size: 36px;
    selected-font-size: 48px;
    color: gray;
}

.month-picker {
    margin-top: 20px;
    width: 80px;
    height: 250px;
    font-size: 36px;
    selected-font-size: 48px;
    color: gray;
}

.confirm {
    margin-top: 32px;
    width: 338px;
    height: 95px;
    font-size: 38px;
    text-color: white;
    background-color: #1f71ff;
    font-weight: 500;
}

.button:active {
    background-color: #1a000000;
}

.gradient-top {
    width: 466px;
    height: 56px;
    top: 80px;
}

.gradient-bottom {
    width: 466px;
    height: 56px;
    top: 286px;
}

.shadow {
    width: 466px;
    height: 80px;
}